*,
::before,
::after {
    padding: 0;
    margin: 0;
}
.card {
    margin-top: 100px;
    width: 25%;
    background-color: burlywood;
    border: firebrick solid 10px;
    display: block;
}
.country-title {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.country-capital,
.country-population,
.country-languages {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 700;
    padding-left: 10px;
    margin-bottom: 5px;

}
.card-img-flag {
    display: flex;
    margin: 10px auto 10px;
}

.flag-img {
    margin: 0 auto;
}

.language {
    list-style: none;
}

.type-span {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
}